body {
    margin: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #ffb6c1, #ffc3a0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Music Button */
.music-controls {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.music-controls button {
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* Card */
.card {
    background: rgba(255, 255, 255, 0.4);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 450px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.title {
    font-family: cursive;
    font-size: 32px;
    margin-bottom: 20px;
}

#questionText {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.yes-btn,
.no-btn {
    padding: 14px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.yes-btn {
    background: #ff6b6b;
}

.no-btn {
    background: #ff7675;
}
